body{
    font-size: 20px;
    color: white;
    font-style: normal;
    background-size: cover;
    background-color: #4B4848;
    font-family:'roboto' sans-serif;

}
html {
    box-sizing: border-box;
}
.container{
    margin: auto;
    overflow: hidden;
    margin-top: 1%;
}
nav{
    float: right;
    color: blueviolet;
    height: 20px;
    align-items: right;
    text-align: start;
    display: flex;
    padding-top: 1px;
}
ul{
    margin: 0;
    margin: 0;
}
ul li{
    list-style:none;
    display: inline-block;
    float: left;
    padding: 1rem;
}
ul li a{
    font-size: 20px;
    font-family:'roboto' sans-serif;
    text-decoration: none;
    color: aqua;
    font-weight: bold;
}
h2{
    margin-top: 100px;
}

.images{
    float: right;
    flex-direction: column;
    width: 50%; 
    display: flex;
    justify-content: space-evenly;
    padding-right: 100px;
}

table, th, td {
    border: 1px solid black;
    height: 50%;
    width: 40%;
}
h4{
    padding-top: 70px;
}
.info{
    padding-left: 50px;
}

